version: "3.9"

services:
  frontend:
    container_name: nuxt-frontend-lite-DDD-clean
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - ./frontend/.env
    command: [ "pnpm", "dev", "--host", "0.0.0.0" ]

  backend:
    container_name: flask-backend-lite-DDD-clean
    build: ./backend
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/app
      - ./backend/app/uploads/files:/app/app/uploads/files
    env_file:
      - ./backend/.env
    environment:
      - PYTHONUNBUFFERED=1
      - FLASK_RUN_HOST=0.0.0.0
    command: [ "python", "run.py" ]

volumes:
  node_modules:
