/* ===========================
   Element Plus Global Overrides
   =========================== */
/* Dropdown selected item */
.el-select-dropdown__item.is-selected {
    color: var(--color-primary-light) !important;
}


.el-radio__input.is-checked .el-radio__inner,
.el-radio__input.is-focus .el-radio__inner {
    border-color: var(--color-primary-light) !important;
    /* Outer circle */
    background-color: var(--color-primary-light) !important;
    /* Inner circle */
}

.el-radio__input:hover .el-radio__inner {
    border-color: var(--color-primary-light) !important;
}

.el-table__row .el-table__cell.clicked-column {
    background-color: var(--color-primary) !important;
    color: #fff !important;
    font-weight: 500;
}



/* Switch handle */
.el-switch__button {
    background-color: var(--color-light) !important;
    /* white handle */
}

.el-switch.is-checked .el-switch__core {
    background-color: var(--color-primary-light) !important;
}

/* Optional: hover effect for active switch */
.el-switch.is-checked:hover .el-switch__core {
    background-color: var(--color-primary-light-3) !important;
}

/* Switch handle (button) */
.el-switch__button {
    background-color: var(--color-light) !important;
}

/* Inner label/text inside handle */
.el-switch__inner {
    color: var(--color-light) !important;
    font-weight: 500;
}

.el-main,
.smart-table-wrapper {
    overscroll-behavior: contain;
}